
extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span.post-meta= moment.utc(article.date).format('MMMM DD, YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        if article.intro.length > 0
          != article.intro
        if article.hasMore
          p.more
            a(href=article.url) more
